.app-container {
  width: 100%;
  height: auto;
  align-content: center;
  overflow: clip;
}

@media screen and (max-width : 960px) {
  .app-container {
    width: 100%;
    height: auto;
    align-content: center;
  }
}