body {
  width: 100%;
  margin: 0 auto;
  background: white;
}

.whatsapp-icon {
  position: fixed;
  top: 60%;
  z-index: 9999;
  margin-left: 93%;
}

@media screen and (max-width: 790px) {
  .whatsapp-icon {
    position: fixed;
    top: 60%;
    z-index: 9999;
    margin-left: 92%;
  }

  .wa-img { 
    width: 65%;
  }
}

@media screen and (max-width: 600px) {
  .whatsapp-icon {
    position: fixed;
    top: 60%;
    z-index: 9999;
    margin-left: 50%;
    width: 60%;
    height: auto;
  }

  .wa-img { 
    width: 15%;
  }
}